body, .modal-body, .modal-header, .modal-footer
{
	background: tan;
}

/*home.html Jumbotron*/
.jumbotron
{
	margin-top: 2%;
	background: pink;
}

.jumbotron h1 
{
	font-family: 'Passion One', cursive;
	color: #337ab7;
}

h2, h3, h4
{
	color: #337ab7;
}

.jumbotron img
{
	width: 25%;
	border-radius: 50%;
}



/* forms in survey.html*/
.form-control
{
	max-width: 50%;
}

/* modal image in survey.html*/
#matchImg
{
	width: 100%;
}